@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{

height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#ff758c,#ff7eb3);
overflow:hidden;

}
.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
.card{

background:rgb(255, 255, 255);
padding:90px;
border-radius:20px;
text-align:center;
box-shadow:0 15px 40px rgba(0,0,0,0.2);
position:relative;

}


h1{

margin-bottom:10px;

}

p{

margin-bottom:20px;

}

button{

padding:15px 30px;
font-size:18px;
border:none;
border-radius:40px;
cursor:pointer;
transition:0.3s;
position:absolute;

}
.gif{

width:300px;
max-width:80%;
height:auto;
margin-top:20px;
border-radius:20px;

}

#yes{

background:#ff4d6d;
color:white;
left:50px;
top:180px;

}

#no{

background:#ece6e6;
left:200px;
top:180px;

}
#question{
    font-size: 20px;
     font-family: "Satisfy", cursive;
}

#message{
 
font-size:22px;
color:white;
position:absolute;
top:40%;
text-align:center;
display:none;

}

/* corazones */

.heart{

position:absolute;
color:red;
font-size:24px;
animation:fall 5s linear infinite;

}

@keyframes fall{

0%{

transform:translateY(-100px);
opacity:1;

}

100%{

transform:translateY(100vh);
opacity:0;

}

}

